.main-screen-cont {
  position: absolute;
  width: 33.5%;
  height: 40%;
  border-radius: 0.8vw;
  margin: 0 auto;
  top: 0.5%;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 0 1vw 0.3vw #1B2523;
  box-shadow: 0 0 1vw 0.3vw #1B2523;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-screen-cont::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, left bottom, from(#868F9D), to(#424E52));
  background: linear-gradient(to bottom, #868F9D, #424E52);
}

.main-screen-cont::after {
  content: '';
  position: absolute;
  top: 4%;
  right: 2%;
  bottom: 4%;
  left: 2%;
  z-index: -1;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, left bottom, from(#3D4F4D), to(#ABB4B8));
  background: linear-gradient(to bottom, #3D4F4D, #ABB4B8);
}

.main-screen-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-screen {
  position: absolute;
  background: #75A166;
  border-radius: 1vw 1vw 0 0;
  left: 3.5%;
  right: 3.5%;
  top: 7%;
  bottom: 8%;
  border: 0.2vw solid #426339;
}

.main-screen::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 1vw 1vw 0 0;
  background: rgba(110, 150, 95, 0.1);
  -webkit-animation: main-screen 0.1s steps(2) infinite;
  animation: main-screen 0.1s steps(2) infinite;
  opacity: 0;
  z-index: 2;
}

@-webkit-keyframes main-screen {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes main-screen {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.main-screen-wrap::before,
.main-screen-fastening::before,
.main-screen-wrap::after,
.main-screen-fastening::after {
  content: '';
  position: absolute;
  width: 6%;
  height: 8%;
  background: #3f4e54;
}

.main-screen-wrap::before,
.main-screen-fastening::before {
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  background: -webkit-gradient(linear, right top, left top, from(#3f4e54), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to left, #3f4e54, rgba(255, 255, 255, 0));
}

.main-screen-wrap::after,
.main-screen-fastening::after {
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  background: -webkit-gradient(linear, left top, right top, from(#3f4e54), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #3f4e54, rgba(255, 255, 255, 0));
}

.main-screen-wrap::before {
  top: 15%;
}

.main-screen-wrap::after {
  top: 15%;
}

.main-screen-fastening::before {
  bottom: 15%;
}

.main-screen-fastening::after {
  bottom: 15%;
}

.screen-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15%;
  background: #182118;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.screen-bottom-roman-numbers,
.screen-bottom-ddit-numbers,
.screen-bottom-bender-numbers,
.screen-bottom-color-numbers {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 1em;
  margin-left: 3%;
  display: none;
}

.screen-bottom-roman-numbers span,
.screen-bottom-ddit-numbers span,
.screen-bottom-bender-numbers span,
.screen-bottom-color-numbers span {
  color: #739c63;
  margin-right: 0.4em;
  font-weight: bold;
  width: 0.8em;
  text-align: center;
  font-size: 1.2vw;
}

.body-roman-numbers-show .screen-bottom-roman-numbers,
.body-ddit-numbers-show .screen-bottom-ddit-numbers,
.body-color-numbers-show .screen-bottom-color-numbers,
.body-bender-numbers-show .screen-bottom-bender-numbers {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.body-main-screen-crush .main-screen {
  background: red;
}

@media screen and (min-aspect-ratio: 16/9) {
  .main-screen-cont {
    border-radius: 1.42222222vh;
    -webkit-box-shadow: 0 0 1.77777778vh 0.53333333vh #1B2523;
    box-shadow: 0 0 1.77777778vh 0.53333333vh #1B2523;
  }

  .main-screen {
    border-radius: 1.77777778vh 1.77777778vh 0 0;
    border: 0.35555556vh solid #426339;
  }

  .main-screen::before {
    border-radius: 1.77777778vh 1.77777778vh 0 0;
  }

  .screen-bottom-roman-numbers span,
  .screen-bottom-ddit-numbers span,
  .screen-bottom-bender-numbers span {
    font-size: 2.13333333vh;
  }
}