.main-screen-cont {
  position: absolute;
  width: 33.5%;
  height: 40%;
  border-radius: 0.8vw;
  margin: 0 auto;
  top: 0.5%;
  left: 0;
  right: 0;
  box-shadow: 0 0 1vw 0.3vw #1B2523;
  box-sizing: border-box;
  &::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(to bottom, #868F9D, #424E52);
  }
  &::after {
    content: '';
    position: absolute;
    top: 4%; right: 2%; bottom: 4%; left: 2%;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(to bottom, #3D4F4D, #ABB4B8);
  }
}
.main-screen-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
}
.main-screen {
  position: absolute;
  background: #75A166;
  border-radius: 1vw;
  left: 3.5%;
  right: 3.5%;
  top: 7%;
  bottom: 8%;
}

.main-screen-wrap,
.main-screen-fastening {
  &::before, &::after {
    content: '';
    position: absolute;
    width: 6%;
    height: 8%;
    background: #3f4e54;
  }
}

.main-screen-wrap::before,
.main-screen-fastening::before {
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(to left, #3f4e54, rgba(255, 255, 255, 0));
}
.main-screen-wrap::after,
.main-screen-fastening::after {
  right: 0;
  transform: translateX(100%);
  background: linear-gradient(to right, #3f4e54, rgba(255, 255, 255, 0));
}

.main-screen-wrap::before {
  top: 15%;
}
.main-screen-wrap::after {
  top: 15%;
}
.main-screen-fastening::before {
  bottom: 15%;
}
.main-screen-fastening::after {
  bottom: 15%;
}
