.switch-second-outer {
  position: absolute;
  left: 21%;
  top: 8%;
  margin: auto;
  border-radius: 4% / 8%;
  width: 19.5%;
  height: 28%;
  box-shadow: inset 0 0.4vw 0.5vw 0.2vw #293134;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.switch-second-outer::before,
.switch-second-outer::after {
  content: '';
  position: absolute;
  width: 50%;
  top: -28%;
  bottom: -10%;
  background: #B0B3B5;
  z-index: 2;
  transition: width 0.4s ease-in-out;
}

.switch-second-outer::before {
  left: 0;
}

.switch-second-outer::after {
  right: 0;
}

.body-switch-second-show .switch-second-outer::before {
  width: 0;
}

.body-switch-second-show .switch-second-outer::after {
  width: 0;
}

.switch-second-inner {
  position: absolute;
  left: 46%;
  width: 8%;
  top: -27%;
  bottom: 6%;
  background: #BF3530;
  border-radius: 1vw;
  box-shadow: 0 0 0.2vw #732539, 1.4vw 0.4vw 0.5vw 0.2vw rgba(41, 49, 52, 0.2);
}

.switch-second-inner::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 40%;
  left: 0;
  right: 0;
  background: #636f79;
  border-radius: 1vw 1vw 0 0;
  box-shadow: 0 0 0.2vw #636f79;
  border: 0.15vw solid #3F4D54;
}

.switch-second-inner::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 50%;
  height: 7%;
  background: #3F4D54;
  margin: auto;
  top: 60%;
  border-radius: 50%;
}

.switch-second-left,
.switch-second-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
}

.switch-second-left {
  left: 0;
}

.switch-second-right {
  right: 0;
}

.body-switch-second-left .switch-second-cover,
.body-switch-second-right .switch-second-cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
}

.body-switch-second-left .switch-second-inner,
.body-switch-second-right .switch-second-inner {
  left: 6%;
  top: 6%;
  bottom: 6%;
  box-shadow: 0 0 0.2vw #732539, 0.2vw 0.2vw 0.2vw 0.1vw rgba(41, 49, 52, 0.2);
}

.body-switch-second-left .switch-second-inner::before,
.body-switch-second-right .switch-second-inner::before,
.body-switch-second-left .switch-second-inner::after,
.body-switch-second-right .switch-second-inner::after {
  height: 0;
  left: 0;
  right: auto;
  border-radius: 1vw;
  width: 540%;
  background: #636f79;
  box-shadow: 0 0 0.2vw #636f79;
  border: 0.15vw solid #3F4D54;
}

.body-switch-second-left .switch-second-inner::before,
.body-switch-second-right .switch-second-inner::before {
  bottom: 0;
  top: auto;
}

.body-switch-second-left .switch-second-inner::after,
.body-switch-second-right .switch-second-inner::after {
  bottom: auto;
  top: 0;
}

.body-switch-second-left .switch-second-inner {
  left: 6%;
}

.body-switch-second-left .switch-second-inner::before,
.body-switch-second-left .switch-second-inner::after {
  left: 0;
  right: auto;
}

.body-switch-second-right .switch-second-inner {
  right: 6%;
  left: auto;
}

.body-switch-second-right .switch-second-inner::before,
.body-switch-second-right .switch-second-inner::after {
  right: 0;
  left: auto;
}

@media screen and (min-aspect-ratio: 16/9) {
  .switch-second-outer {
    box-shadow: inset 0 0.71111111vh 0.88888889vh 0.35555556vh #293134;
  }

  .switch-second-inner {
    border-radius: 1vw;
    box-shadow: 0 0 0.35555556vh #732539, 2.48888889vh 0.71111111vh 0.88888889vh 0.35555556vh rgba(41, 49, 52, 0.2);
  }

  .switch-second-inner::before {
    border-radius: 1.7777777vh 1.7777777vh 0 0;
    box-shadow: 0 0 0.35555556vh #636f79;
    border: 0.26666666vh solid #3F4D54;
  }

  .body-switch-second-left .switch-second-inner,
  .body-switch-second-right .switch-second-inner {
    box-shadow: 0 0 0.35555556vh #732539, 0.35555556vh 0.35555556vh 0.35555556vh 0.17777777vh rgba(41, 49, 52, 0.2);
  }

  .body-switch-second-left .switch-second-inner::before,
  .body-switch-second-right .switch-second-inner::before,
  .body-switch-second-left .switch-second-inner::after,
  .body-switch-second-right .switch-second-inner::after {
    border-radius: 1.7777777vh;
    box-shadow: 0 0 0.35555556vh #636f79;
    border: 0.26666666vh solid #3F4D54;
  }
}